#design {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 3em;
}

.col {
    flex: 1;
}

#card {
    text-align: center;
    font-size: 2rem;
}

#card-g {
    /* Greeting can be multiple lines, so preserve hard line breaks */
    white-space: pre-line;
}

#cardForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: stretch;
}